<html>
<head>
  <title>fill in the blanks!</title>
  <link href={{ url_for('static', filename='css/app.css') }} rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <h1>Fill in the blanks</h1>
        {% if pobj.spec %}
          {% include 'render_problem.html' %}
        {% else %}
          <p>Invald problem </p>
        {% endif %}
   
    <div>
      {% if previous %}
        <a href="{{url_for('answer', uid=previous)}}">previous</a>
      {% else %}
        <a href="{{url_for('index')}}">previous</a>
      {% endif %}  
      {% if next %}
        <a href="{{url_for('answer', uid=next)}}">next</a>
      {% else %}
        <a href="{{url_for('index')}}">next</a>
      {% endif %}  
    </div>

  </div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
<html>