<html>
<head>
  <title>fill in the blanks!</title>
  <link href={{ url_for('static', filename='css/app.css') }} rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <h1>Fill in the blanks</h1>
    <div id="blanks-div" class="blanks-container">
      <!-- {{pset}} -->
      {% if not pset %}
        <p>Invald problem id provided</p>
      {% else %}

        {% for problem in pset %}
        <div class="problem">
          <!-- <p>{{problem}}</p> -->
          <p>
          {%for part in problem%}
            {% if part.type=="text" %}
              {{part.text}}
            {% elif part.type=="fillin" %}
              <input type="text"class="fillin" data={{part.text}}>
            {% endif %}
          {% endfor %}
          </p>
        </div>
        {% endfor %}

      {% endif %}
    </div>
  
    <div>
      {% if previous %}
        <a href="{{url_for('answer', uid=previous)}}">previous</a>
      {% else %}
        <a href="{{url_for('index')}}">previous</a>
      {% endif %}  
      {% if next %}
        <a href="{{url_for('answer', uid=next)}}">next</a>
      {% else %}
        <a href="{{url_for('index')}}">next</a>
      {% endif %}  
    </div>

  </div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
<html>