<html>
<head>
  <title>fill in the blanks!</title>
  <link href={{ url_for('static', filename='css/app.css') }} rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <h1>Welcome to fill in the blanks</h1>
    <h2>Create a problem</h2>
    <ul>
      <a href="{{url_for('enter')}}">click here to create your own fill in the blank problem.</a>
    </ul>
    {% if uids %}
      <h2>Try out these problems</h2>
      <ol>
        {% for uid in uids %}
        <li><a href="{{url_for('answer', uid=uid)}}">{{uid}}</a></li>
        {% endfor %}

      </ol>
    {% endif %}
  </div>
</body>
<html>