<!-- 
use to build a set of fillin the blank problems in an
html page using the pobj object.  This is a dictionary

spec: [ [ {type:"text", text:"..."}, {type:"fillin", text:"blank words"} ],
        [ each item of the array contains the text and],
        [ fillin objects for one sentence of the problem]
      ]
text: "the original specification text entered",
message: status message, should be an array, one item per line
-->

  <div class="problem-container">
  {% for line in pobj.spec %}
    <div class="problem-line">
      <p>
        {% for part in line %}
          {% if part.type=="text" %}
              {{part.text}}
          {% elif part.type=="fillin" %}
              <input type="text"class="fillin" data={{part.text}}>
          {% endif %}
        {% endfor %}
      </p>
    </div>
  {% endfor %}
  </div>
  
